lastbuildstate
A. Twice
B. Startup
J. Waiting for...
codeforces/A. Amusing Joke.exe

C. Registration system
CMakeLists.txt
.idea/misc.xml
.vscode/settings.json

//忽略所有的*.exe文件
cmake-build-debug/*
build/*
.idea/*
.vscode/*
cmake-build-debug/*

//忽略*.exe文件
*.exe
/A. Puzzles
build/.cmake/api/v1/*