build/.cmake/api/v1/reply/cache-v2-d6e244fdc6409fe90350.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8e180c02898af10bc6fa.json
build/.cmake/api/v1/reply/codemodel-v2-71dd91b02d5e1db25609.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-11-29T11-18-10-0901.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-070f04ce63c6a45f8460.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-070f04ce63c6a45f8460.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-070f04ce63c6a45f8460.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-070f04ce63c6a45f8460.json
build/.cmake/api/v1/reply/target-MySteps-Debug-b0423826deebd4c21eea.json
build/.cmake/api/v1/reply/target-MySteps-MinSizeRel-aa5a2a334d5aea7394b0.json
build/.cmake/api/v1/reply/target-MySteps-Release-15895ff718f6f0518cb9.json
build/.cmake/api/v1/reply/target-MySteps-RelWithDebInfo-d74154bc9c5b7f6698e4.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-a77f0ea1bd12d5509bdf.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-a77f0ea1bd12d5509bdf.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-a77f0ea1bd12d5509bdf.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-a77f0ea1bd12d5509bdf.json
build/.cmake/api/v1/reply/toolchains-v1-b8d3c109554f27403ba9.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/23506dc0f6cf14cafb33e9ad94b2b828/generate.stamp.rule
build/CMakeFiles/3.29.5-msvc4/CMakeCCompiler.cmake
build/CMakeFiles/3.29.5-msvc4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.5-msvc4/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.5-msvc4/CMakeSystem.cmake
build/CMakeFiles/3.29.5-msvc4/VCTargetsPath.txt
build/CMakeFiles/3.29.5-msvc4/VCTargetsPath.vcxproj
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.29.5-msvc4/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.29.5-msvc4/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
A. Twice
B. Startup
J. Waiting for...
codeforces/A. Amusing Joke.exe
cmake-build-debug/.cmake/api/v1/reply/cache-v2-3f3936388521be7caa58.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c16eca31d7473fb57677.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-68b9ec02932f462f4270.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ea58fb81ac3003784290.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0ac5d466e48c84356112.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-25256cd57ccdcbb55f5e.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-11-25T10-59-47-0138.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-11-29T12-23-52-0894.json
cmake-build-debug/.cmake/api/v1/reply/target-MySteps-Debug-4d942c2acf3468595860.json
cmake-build-debug/.cmake/api/v1/reply/target-MySteps-Debug-ef2723f75744b91326ca.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c16eca31d7473fb57677.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ea58fb81ac3003784290.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0ac5d466e48c84356112.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-11-25T10-59-47-0138.json
cmake-build-debug/.cmake/api/v1/reply/target-MySteps-Debug-4d942c2acf3468595860.json
C. Registration system
CMakeLists.txt
.idea/misc.xml
.vscode/settings.json
build/.cmake/api/v1/reply/codemodel-v2-54a2f619005d2d457ebe.json
build/.cmake/api/v1/reply/index-2024-11-30T05-11-52-0660.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-5e3ad45e0d15a890fedb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-5e3ad45e0d15a890fedb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-5e3ad45e0d15a890fedb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-5e3ad45e0d15a890fedb.json
build/.cmake/api/v1/reply/target-MySteps-Debug-8ac0fd4b9c6c52168b81.json
build/.cmake/api/v1/reply/target-MySteps-MinSizeRel-29f20c5d694afc15e231.json
build/.cmake/api/v1/reply/target-MySteps-Release-15a2e3938a6f57b7685d.json
build/.cmake/api/v1/reply/target-MySteps-RelWithDebInfo-089065dd2b44e3650a3f.json
cmake-build-debug/ALL_BUILD.vcxproj
cmake-build-debug/ALL_BUILD.vcxproj.filters
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/MySteps.sln
cmake-build-debug/MySteps.vcxproj
cmake-build-debug/MySteps.vcxproj.filters
cmake-build-debug/ZERO_CHECK.vcxproj
cmake-build-debug/ZERO_CHECK.vcxproj.filters
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c16eca31d7473fb57677.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ea58fb81ac3003784290.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0ac5d466e48c84356112.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-11-25T10-59-47-0138.json
cmake-build-debug/.cmake/api/v1/reply/target-MySteps-Debug-4d942c2acf3468595860.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/MySteps.dir/build.make
cmake-build-debug/CMakeFiles/MySteps.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/MySteps.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/MySteps.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/MySteps.dir/depend.make
cmake-build-debug/CMakeFiles/MySteps.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/MySteps.dir/flags.make
cmake-build-debug/CMakeFiles/MySteps.dir/link.txt
cmake-build-debug/CMakeFiles/MySteps.dir/progress.make
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/*
build/*
.idea/*
.vscode/*
cmake-build-debug/*

//忽略*.exe文件
*.exe
/A. Puzzles
build/.cmake/api/v1/*